<html>
<head>
    <title>Browser Storage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="noindex"/>

</head>

<body bgcolor="#FFFFFF">
<h1>cookie example</h1>
<fieldset style="font-size:140%">
    <script language="JavaScript">
        x = document.cookie;
        document.write(x);
    </script>
</fieldset>
<br>
<br>
<h1>sessionStorage example</h1>
<fieldset style="font-size:140%">
    <script language="JavaScript">
        x = sessionStorage.saved;
        document.write(x);
    </script>
</fieldset>
<br>
<br>
</body>
</html>
